*{
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section{
    background-color: #F5F5F5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

.content{
    margin: auto;
    margin-top: 20px;
    position: relative;

}

.content h1{
    color:#B83F45;
    font-size: 90px;
    font-weight: 100;
    text-align: center;
    margin-bottom: 25px;
}

input{
  outline: none;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

}

.inputContainer_Master{
    width: 600px;
    margin: auto;

}

.inputContainer input::placeholder{
    font-style: italic;
}

.inputContainer{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.222)
}

.inputContainer input{
    width: 100%;
    height: 100%;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 24px;
  
}

.down_arrow{
    width: 15px;
    margin-left: 18px;
    margin-right: 10px
}

.inputContainer input::placeholder{
    font-size: 20px;
    color:rgba(0, 0, 0, 0.4)
}

.container_search_select{
    background-color: #ffffff;
    width: 100%;
    border-bottom: 1px solid #d3d3d3;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 3;
}

.border{
    border-top: 2px solid #f0f0f0;
}

.borderLarge{
    border-top: 2.3px solid #e2e2e2;
}

li{
    list-style: none;
}

.isDone{
    text-decoration: line-through;
    color: #bababa;
    transition: 0.4s;
}
.search_li{
    background-color: #ffffff;
    padding-inline-start: 0;
    position: relative;
    color: #555555;
}

.done_undone{
    width: 30px;
    margin-left: 10px;
    margin-right: 15px;
}

.search_li li{
   line-height: 50px;
   align-items: center;
   display: flex;
   font-size: 24px;
}

.search_li li .clear{
    opacity: 0;
}

.search_li li:hover .clear{
    opacity: 1;
    cursor: pointer;
}

.clear{
    right:15px;
    position:absolute;
    width: 24px;
   
}

.edit{
    right:12px;
    position:absolute;
    width: 28px;
}


.container_status{
    display: flex;
    justify-content: space-around;
    height: 45px;
    align-items: center;
    color: #555555;
}

.container_status span:first-child{
    margin-left: 0px;
}

.paper1, .paper2{
    background-color:#ffffff;
    height: 5px;
    margin: auto;
    box-shadow: 0px 0.2px 6px rgba(0, 0, 0, 0.16);
    border-bottom: 1px solid #0000002f;
    position: relative
}

.paper1{
    width: 99%;
    z-index: 2
}

.paper2{
    width: 98%;
    z-index: 1

}

.todoBackground{
    background-color: #EDEDED;
    width: 100%;
    padding: 1px 8px 25px 8px;
    /*padding: top right bottom left;*/
    border-top-left-radius:90px ;
    border-top-right-radius:90px ;
    border-bottom-left-radius:65px ;
    border-bottom-right-radius:65px ;
    display: flex;
    justify-content: center;
    z-index:0;

}

.todoBackground2{
    background-color: #E6E6E6;
    height: 85%;
      /*padding: top right bottom left;*/
    padding: 1px 3px 20px 3px;
    border-top-left-radius:10px ;
    border-top-right-radius:10px ;
    border-bottom-left-radius:66px ;
    border-bottom-right-radius:66px ;
    z-index: 1;

}


.footer_credits{
    margin: auto;
    margin-top: 20px;
    padding-inline-start: 0;
}


.footer_credits span{
    color: #2f2f2f;
}

.footer_credits span:hover{
    text-decoration:underline;
    cursor: pointer;
}


.footer_credits li{
line-height: 30px;
margin: auto;
color:#8f8f8f;
text-align: center;
}

.container_select_option{
    display: flex;
    flex-wrap: nowrap;
    width: 200px;
  
}

.container_select_option span:hover{
    cursor: pointer;
}

.select_span{
    margin-left: 25px;
}

.select_span{
    padding: 8px;
    height: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 5px;
    border:1px solid transparent;
    border-radius: 5px;
}

.select_span:hover:not(:last-child){
    border:1px solid rgb(255, 226, 226);

}

.select_span:hover:last-child{
    border:1px solid rgb(204, 204, 204);

}

.clear_completed:hover{
    text-decoration:underline;
}


.show{
    opacity: 1;
   
}

.show:hover{
    cursor: pointer;
}

.hide{
    opacity: 0;
}
    


